-
	var socials = ['fab fa-facebook-f', 'fab fa-twitter', 'fab fa-telegram-plane', 'fab fa-linkedin-in']
-
	var menu = [
		{
			title : "Trang chủ",
			link: "/",
			dropdown: false
		},
		{
			title : "Giới thiệu",
			link: "",
			dropdown: false
		},
		{
			title : "Sản phẩm",
			link: "/products.html",
			dropdown: true
		},
		{
			title : "Sản phẩm mới",
			link: "",
			dropdown: true
		},
		{
			title : "Tin Tức",
			link: "/news.html",
			dropdown: false
		},
		{
			title : "Liên hệ",
			link: "/contact.html",
			dropdown: false
		}
	]
-
	var carousel =["./assets/images/slide.png","./assets/images/slide.png","./assets/images/slide.png"]