-
	var socials = ['fab fa-facebook-f', 'fab fa-twitter', 'fab fa-telegram-plane', 'fab fa-linkedin-in']
-
	var menu = [
		{
			title : "Trang chủ",
			link: "/",
			dropdown: false
		},
		{
			title : "Giới thiệu",
			link: "",
			dropdown: false
		},
		{
			title : "Sản phẩm",
			link: "/products.html",
			dropdown: true
		},
		{
			title : "Sản phẩm mới",
			link: "",
			dropdown: true
		},
		{
			title : "Tin Tức",
			link: "/news.html",
			dropdown: false
		},
		{
			title : "Liên hệ",
			link: "/contact.html",
			dropdown: false
		}
	]
-
	var carousel =["./assets/images/slide.png","./assets/images/slide.png","./assets/images/slide.png"]
-
	var products = {
		hotProducts: [
			{
				discount: "New",
				src: "spx2-1",
				name:"Cây chân chim",
				rate: 1.5,
				currentPrice: "250.000",
				oldPrice: "250.000"
			},
			{
				discount: "-50%",
				src: "spx2-2",
				name:"Cây Dạ Lam",
				rate: 4.5,
				currentPrice: "500.000",
				oldPrice: "250.000"
			},
			{
				discount: "New",
				src: "spx2-3",
				name:"Cây Danh Dự",
				rate: 5,
				currentPrice: "850.000",
				oldPrice: "250.000"
			},
			{
				src: "spx2-4",
				name:"Cây cọ ta",
				rate: 2.5,
				currentPrice: "150.000",
				oldPrice: "250.000"
			},
			{
				src: "spx2-5",
				name:"Cây dứa nhỏ",
				rate:4.5 ,
				currentPrice: "350.000",
				oldPrice: "250.000"
			},
			{
				discount: "-50%",
				src: "spx2-6",
				name:"Cây đa búp đỏ",
				rate: 4.5,
				currentPrice: "1.000.000",
				oldPrice: "250.000"
			}
		], 
		popularProducts: [
			{
				src: "spx2-2",
				name:"Cây chân chim",
				rate: 4.5,
				currentPrice: "250.000",
			},
			{
				src: "spx2-3",
				name:"Cây Dạ Lam",
				rate: 4.5,
				currentPrice: "100.000",
			},
			{
				src: "spx2-4",
				name:"Cây Danh Dự",
				rate: 4.5,
				currentPrice: "850.000",
			},
			{
				src: "spx2-5",
				name:"Cây cọ ta",
				rate: 4.5,
				currentPrice: "150.000",
			},
			{
				src: "spx2-6",
				name:"Cây dứa nhỏ",
				rate:4.5 ,
				currentPrice: "350.000",
			},
			{
				src: "spx2-7",
				name:"Cây đa búp đỏ",
				rate: 4.5,
				currentPrice: "600.000",
			},
		],
		newProducts: [
			{
				discount: "New",
				src: "spx2-1",
				name:"Cây chân chim",
				rate: 4.5,
				currentPrice: "250.000",
				oldPrice: "250.000",
				desc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "Người ấy". Ngọc Ngân (Valentiane) không chỉ đẹp ở phiến lá xanh đốm trắng.',
			},{
				src: "spx2-2",
				name:"Cây chân chim",
				rate: 4.5,
				currentPrice: "250.000",
				oldPrice: "250.000",
				desc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "Người ấy". Ngọc Ngân (Valentiane) không chỉ đẹp ở phiến lá xanh đốm trắng.',
			},
			{
				discount: "New",
				src: "spx2-3",
				name:"Cây chân chim",
				rate: 4.5,
				currentPrice: "250.000",
				oldPrice: "250.000",
				desc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "Người ấy". Ngọc Ngân (Valentiane) không chỉ đẹp ở phiến lá xanh đốm trắng.',
			},
			{
				src: "spx2-4",
				name:"Cây xương rồng",
				rate: 4.5,
				currentPrice: "250.000",
				oldPrice: "250.000",
				desc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "Người ấy". Ngọc Ngân (Valentiane) không chỉ đẹp ở phiến lá xanh đốm trắng.',
			},
			{
				src: "spx2-5",
				name:"Cây Dạ Lam",
				rate: 4.5,
				currentPrice: "250.000",
				oldPrice: "250.000",
				desc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "Người ấy". Ngọc Ngân (Valentiane) không chỉ đẹp ở phiến lá xanh đốm trắng.',
			},
			{
				discount: "-45%",
				src: "spx2-6",
				name:"Cây Danh Dự",
				rate: 4.5,
				currentPrice: "250.000",
				oldPrice: "250.000",
				desc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "Người ấy". Ngọc Ngân (Valentiane) không chỉ đẹp ở phiến lá xanh đốm trắng.',
			},
			{
				src: "spx2-7",
				name:"Cây cọ ta",
				rate: 4.5,
				currentPrice: "250.000",
				oldPrice: "250.000",
				desc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "Người ấy". Ngọc Ngân (Valentiane) không chỉ đẹp ở phiến lá xanh đốm trắng.',
			},
			{
				src: "spx2-8",
				name:"Cây Dạ Lam",
				rate: 4.5,
				currentPrice: "250.000",
				oldPrice: "250.000",
				desc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "Người ấy". Ngọc Ngân (Valentiane) không chỉ đẹp ở phiến lá xanh đốm trắng.',
			},
			{
				src: "spx2-9",
				name:"Cây dứa nhỏ",
				rate:4.5 ,
				currentPrice: "280.000",
				oldPrice: "250.000",
				desc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "Người ấy". Ngọc Ngân (Valentiane) không chỉ đẹp ở phiến lá xanh đốm trắng.',
			},
			{
				src: "spx2-10",
				name:"Cây đa búp đỏ",
				rate: 4.5,
				currentPrice: "280.000",
				oldPrice: "250.000",
				desc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "Người ấy". Ngọc Ngân (Valentiane) không chỉ đẹp ở phiến lá xanh đốm trắng.',
			},
			{
				src: "spx2-11",
				name:"Cây Dạ Lam",
				rate: 4.5,
				currentPrice: "250.000",
				oldPrice: "250.000",
				desc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "Người ấy". Ngọc Ngân (Valentiane) không chỉ đẹp ở phiến lá xanh đốm trắng.',
			},
			{
				src: "spx2-12",
				name:"Cây dứa nhỏ",
				rate:4.5 ,
				currentPrice: "280.000",
				oldPrice: "250.000",
				desc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "Người ấy". Ngọc Ngân (Valentiane) không chỉ đẹp ở phiến lá xanh đốm trắng.',
			},
			{
				src: "spx2-13",
				name:"Cây đa búp đỏ",
				rate: 4.5,
				currentPrice: "280.000",
				oldPrice: "250.000",
				desc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "Người ấy". Ngọc Ngân (Valentiane) không chỉ đẹp ở phiến lá xanh đốm trắng.',
			},
			{
				src: "spx2-14",
				name:"Cây đa búp đỏ",
				rate: 4.5,
				currentPrice: "280.000",
				oldPrice: "250.000",
				desc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "Người ấy". Ngọc Ngân (Valentiane) không chỉ đẹp ở phiến lá xanh đốm trắng.',
			},
			{
				src: "spx2-15",
				name:"Cây đa búp đỏ",
				rate: 4.5,
				currentPrice: "280.000",
				oldPrice: "250.000",
				desc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "Người ấy". Ngọc Ngân (Valentiane) không chỉ đẹp ở phiến lá xanh đốm trắng.',
			}
		]
	}
-
	var news= {
		home: [
			{
				src: "new-4.png",
				date:" Thứ 7, ngày 31, tháng 12, năm 2015",
				title: "15 thiết kế phòng ngủ tuyệt đẹp vạn người mê",
				content: "Cùng Sài Gòn tìm hiểu một vài xu hướng thiết kế sân vườn được ưa chuộng hiện nay nhé! Kết hợp hàng rào. ",
			},
			{
				src: "new-2.png",
				date:" Thứ 7, ngày 31, tháng 12, năm 2015",
				title: "Tạo tiểu cảnh góc sân nhà phố, biệt thự đẹp",
				content: "Khi bước từ ngoài ngõ vào hay từ trong nhà đi ra, góc sân luôn là điểm nhìn đầu tiên của chúng ta."
			},
			{
				src: "new-3.png",
				date:" Thứ 7, ngày 31, tháng 12, năm 2015",
				title: "Cách bố trí hoa chậu trước cửa ấn tượng",
				content: "Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ, phần không gian trước cửa."
			}
		]
	}
-
	var footer = {
		content: [
			{
				title :"Thông tin khách hàng",
				list:["Tài khoản của tôi", "Sản phẩm yêu thích", "Lịch sử mua hàng", "Chính sách đổi trả", "Góp ý, khiếu nại"]
			},
			{
				title :"Hỗ trợ dịch vụ",
				list:["Hệ thống cửa hàng", "Hướng dẫn mua hàng", "Hướng dẫn thanh toán", "Tích điểm đổi quà", "Câu hỏi thường gặp"]
			},
			{
				title :"Chính sách ưu đãi",
				list:["Chính sách giao hàng","Chính sách đổi trả sản phẩm", "Chính sách bảo hành", "Giới thiệu sản phẩm mới", "Chính sách trả góp"]
			},
			{
				title :"Tin tức",
				list:["Tin mới", "Khuyến mại", "Tuyển dụng", "Download", "Tags"]
			}
		],
		footerBottom: {
			title: ["Sitemap", "Danh mục sản phẩm", "Hợp tác", "Thông tin liên hệ", "Câu hỏi thường gặp"],
			icon: ["fab fa-cc-visa", "fab fa-cc-mastercard", "fab fa-cc-paypal" ]
		}